<!DOCTYPE html>
<html>

  <head>
    <title>MASTERMIND 🧠</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;703&family=Righteous&display=swap" rel="stylesheet">

  </head>

  <body>

    <h1 class="logo automargin" id="title">MASTER<span class="red">MIND</span></h1>
    <div id='menu' class='automargin center'>
      <a href="/play" class='button'>Play</a>
    </div>

    <div id='stats' class='automargin'>
      <span> active players: <%= active %> </span>
      <span> coder wins: <%= coderWins %> </span>
      <span id='last-stat'> mind wins: <%= mindWins %> </span>
    </div>

    <div id='rules' class='automargin'>
    <h3> Rules </h3>
    <p >
      The Mind: <br> Try to break the secret code! Your attempt is automatically evaluated. Each red pin means that you have
      a color correct and in the correct position of the code. Each white pin means that you have a color correct, but in the wrong position.

    </p><p>
      The Coder: <br> Try to come up with an unbreakable code! Then sit back and enjoy your opponent find it!
   </p>
    </div>

  </body>
</html>
