
.board{
  background-color: #282828;
  display: grid;
  grid-row-gap: 20px;
  width: fit-content;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
  /* margin-left: 6vw; */
  /* margin-top: 5vh;  */
  /* float: right; */
  /* margin: auto; */
}

.code-row {
  /* background-color: red; */
  margin: auto;
  padding: 30px 10px;
  grid-template-columns: repeat(4, 1fr) !important;
}

.row {
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(5, 1fr);
	grid-column-gap: 10px;
}

.pin{
  height: 45px;
  width: 45px;
  border-radius: 100px;
  cursor: pointer;
  background-color: whitesmoke;
}

.eval-row{
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
	grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin: auto;
  margin-left: 15px;
}

.eval-pin {
  height: 15px;
  width: 15px;
  border-radius: 100px;
  background-color: whitesmoke;
}


.submit-button {
  background-color: #EF6F6C;
  font-family: 'Righteous';
  font-size: 1.6em;
  padding: 10px 20px;
  border: none;
  margin-top: 20px;
  /* margin: auto; */
}

.submit-button:hover{
  background-color: rgb(237, 149, 148);
  color: black;
}

#play-area {
  margin-top: 7vh;
  width: 50vw;

  text-align: center;
}

.arrow {
  background-color: #EF6F6C;
  position: absolute;

  bottom: -100px;
  width: 15px;
  height: 15px;
  border-radius: 100px;
  transition: all 1s ease;
}