
.board{
  background-color: #4F4F4F;
  display: grid;
  grid-row-gap: 20px;
  width: fit-content;
  padding: 20px;
  border-radius: 10px;
}

.code-row {
  /* background-color: red; */
  padding: 30px 0;
}
.row {
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(5, 1fr);
	grid-column-gap: 10px;
}

.pin{
  height: 45px;
  width: 45px;
  border-radius: 100px;
  cursor: pointer;
  background-color: whitesmoke;
}

.eval-row{
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
	grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin: auto;
  margin-left: 15px;
}

.eval-pin {
  height: 15px;
  width: 15px;
  border-radius: 100px;
  background-color: whitesmoke;
}
