#active-players {
  margin: 10px 0px;
  color: gray;
}

#active-players::before{
  content: "🧠 " 
}

#info{
  margin: 10px 0px;
  font-size: 1.2em;
}

#trippy{
  margin: auto;
  width: fit-content;
  mix-blend-mode: lighten;
}

.small {
  font-size: 2em !important;
}

.game-menu {
  width: 20vw;
  margin: 50px;
  float: left;
}

#game-info{
  color: gray;
  font: monospace;
}

#game-tries {
  
}

#info::before{
  content: "🎙 " 
}
#game-time::before{
  content: "⏰ " 
}

#game-time::after{
  content: " seconds passed" 
}

