body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #202020;
  color: whitesmoke;
}

#title{
  font-size: 400%;
}

#menu{
  font-size: xx-large;
  margin-top: 80px;
}

.button{
  padding: 10px;
  border-radius: 6px;
}

.button:hover{
  color: #EF6F6C;
}

.automargin{
  margin: auto;
  width: fit-content;
}

.red{
  color:#EF6F6C;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

button {
  padding: 5px 15px;
}

.inactive {
  cursor: not-allowed;
  opacity: .5;
}

.hidden {
  display: none !important;
}

.center {
  text-align: center;
}
