body {
  font: 1em "Raleway", Helvetica, Arial, sans-serif;
  background-color: #202020;
  color: whitesmoke;
}

.logo {
  font-family: 'Righteous';
}
#title{
  padding: 50px;
  font-size: 10vw;
  font-family: 'Righteous';
}

#rules {
  position: absolute;
  font-size: 1em;
  width: 30%;
  text-align: center;
  bottom: 5%;
  left: 35%;
  color: gray;
}
#rules p{
  text-align: left;
}

#menu{
  font-size: 4vw;
  margin-top: 80px;
}

button, .button{
  cursor: pointer;
  padding: 10px;
  border-radius: 6px;
}

button:hover, .button:hover{
  color: #EF6F6C;
}

.automargin{
  margin: auto;
  width: fit-content;
}

.red{
  color:#EF6F6C;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

button {
  padding: 5px 15px;
}

.inactive {
  cursor: not-allowed;
  opacity: .5;
}

.hidden {
  display: none !important;
}

.center {
  text-align: center;
}
.moveleft{
  margin-left: 5px;
}
